.listItemPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
}

.listItemTitle {
    font-family: JetBrains Mono;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F2F2F3;
}

.listItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.listItem {
    flex: 1;
    max-width: 50%;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}