.cart {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    grid-gap: 5px;
    gap: 5px;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.cartEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ingredients {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow-y: scroll;
    width: 90%;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    box-shadow: #8585AD;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
}

.button span {
    font-family: JetBrains Mono;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F3;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.total {
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F2F2F3;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 44px;
}

.rightSidebar {
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

@media screen and (max-height: 1000px) {
    .ingredients {
        max-height: 532px;
    }
}

@media screen and (max-height: 900px) {
    .ingredients {
        max-height: 442px;
    }
}

@media screen and (max-height: 800px) {
    .ingredients {
        max-height: 352px;
    }
}

@media screen and (max-height: 700px) {
    .ingredients {
        max-height: 262px;
    }
}
