.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 132px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.centerBlock {
    flex: 2;
}

.sidebar {
    flex: 1;
}