@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Iceland-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

.container {
    max-width: 1240px;
    margin: 0 auto 100px auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content > section {
    flex: 1;
    max-width: 600px;
}

h1 {

}