.list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: unset;
}

.list li {
    flex: 1;
    max-width: 50%;
    position: relative;
    cursor: pointer;
}

.notification {
    position: absolute;
    right: 5px;
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F3;
    background: #4C4CFF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.burgerBuilder {
    overflow-y: scroll;
}

.burgerBuilder h2 {
    margin: 0;
    padding: 0.83em 0;
}

.burgerBuilder::-webkit-scrollbar {
    width: 8px;
}

.burgerBuilder::-webkit-scrollbar-track {
    box-shadow: #8585AD;
}

.burgerBuilder::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media screen and (max-height: 1000px) {
    .burgerBuilder {
        max-height: 800px;
    }
}

@media screen and (max-height: 900px) {
    .burgerBuilder {
        max-height: 700px;
    }
}

@media screen and (max-height: 800px) {
    .burgerBuilder {
        max-height: 600px;
    }
}

@media screen and (max-height: 700px) {
    .burgerBuilder {
        max-height: 500px;
    }
}