.header{
    background: #1C1C21;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 17px 0;
}

.menuItems {
    display: flex;
    width: 100%;
    align-items: center;
}


.menuItemSection {
    display: flex;
    flex: 1;
}

.logoSection {
    composes: menuItemSection;
    justify-content: space-around;
}

.lkSection {
    composes: menuItemSection;
    justify-content: flex-end;
}

.menuItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-radius: 40px;
    text-decoration: none;
    color: #8585AD;
}

.menuItemActive {
    composes: menuItem;
    color: #fff;
}

.menuItemActive svg {
    fill: #fff;
}

.menuLkItem {
    composes: menuItem;
    max-width: 207px;
}


.menuItem:first-child {
    margin-right: 8px;
}
